body {
  background-color: rgba(255, 192, 203, 0.283);
}
.Dictionary .question {
  font-size: 15px;
  opacity: 0.5;
  padding-bottom: 8px;
}
.Dictionary form {
  padding-bottom: 15px;
}

.Dictionary .search-word {
  padding: 0;
  margin: 0;
}

.Dictionary .phonetic-pronunciation {
  font-size: 15px;
  padding: 0;
  opacity: 0.75;
  margin-bottom: 15px;
}

.Dictionary .definition-entry:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.Dictionary .part-of-speech {
  opacity: 0.5;
}
.Dictionary .definition {
  margin-left: 10px;
}
.Dictionary .meaning {
  margin-left: 10px;
  font-weight: bold;
}
.Dictionary .example {
  margin-left: 10px;
  opacity: 0.75;
  padding-bottom: 10px;
}

.Synonyms {
  margin-left: 10px;
  display: flex;
  gap: 5px;
  font-size: 13px;
  align-items: bottom;
}
.Synonyms .synonym-title {
  opacity: 0.5;
}
.Synonyms .synonym {
  cursor: pointer;
  text-decoration: underline;
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  transition: all 200ms ease-in-out;
}

.Synonyms .synonym:hover {
  color: rgb(219, 22, 88);
}
